events { }

http {
    #HTTP DIVERTS TO HTTPS
    server {
        listen 80;
        server_name landsatcheck.co;

        # Include the Permissions-Policy headers
        add_header Permissions-Policy "run-ad-auction=(self)";
        add_header Permissions-Policy "join-ad-interest-group=(self)";

        return 301 https://$host$request_uri;
    }
    #HTTPS SERVICES ENDPOINTS
    server {
        listen 443 ssl;
        server_name landsatcheck.co;

        ssl_certificate /etc/ssl/fullchain.pem;
        ssl_certificate_key /etc/ssl/privkey.pem;

        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers HIGH:!aNULL:!MD5;

        location /weather {
            proxy_pass http://email-service:8080/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location / {
            proxy_pass http://react-app:80;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}