#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#Future,#Live {
  position: relative;
}

#toggleContainer{
  position: absolute; /* Make the container fill the viewport */
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  z-index: 0;
  border: 3px solid blue;  
}

#mapContainer{
    position: absolute; /* Make the container fill the viewport */
    top: 0;
    bottom: 0;
    /* left: 0; */
    right: 0; /* align to right*/
    width: 50%;
    z-index: 0;
    border: 3px solid red;  
}

#leadTime{
  padding: 1%;
  padding-left: 10px;
  padding-right: 10px;
}

button {
  background-color: #d0ded1; /* Green background */
  color: rgb(39, 81, 141); /* White text */
  border: none; /* Remove borders */
  padding: 12px 24px; /* Add padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make button an inline block */
  font-size: 16px; /* Set font size */
  margin: 4px 2px; /* Small margin */
  transition-duration: 0.4s; /* Smooth transition */
  cursor: pointer; /* Pointer on hover */
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2); /* Add shadow */
}

button:hover {
  background-color: white; /* White background on hover */
  color: black; /* Black text on hover */
  border: 2px solid #4CAF50; /* Green border on hover */
}

button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); /* Shadow when clicked */
  transform: translateY(2px); /* Move button down slightly */
}




/* Ensure the header stays at the top */
.header {
  position:fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #e0e0e0;
  position: fixed; /* Keeps the header at the top of the page */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensures it's on top of other content */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Horizontally centers items */
}

.logo {
  height: 60px;
  margin-right: 20px;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#toggleContainer,
#mapContainer {
  margin-top: 80px; /* Adjust to match the header height */
}